<!-- <div class="side-bar"> -->
<div class="side-bar">

<img class="side-bar__logo" src="/assets/logo-tik-talk-small.svg" alt="logo">

<nav>
  <ul class="side-bar__list-tool">
    @for (svg of menuItems; track menuItems[0].label) {
      <li class="side-bar__list-tool-item">
        <button class="side-bar__bar-btn">
          <svg class="item-svg" [icon]="svg.icon"></svg>
          {{ svg.label }}
        </button>
      </li>
    }
  </ul>
</nav>

<div class="side-bar__container-subs">
  <h5 class="side-bar__title-subs">Подписчики</h5>

  <div class="side-bar__subs-view">
    @for (profile of subscribers | async; track profile.id) {
      <app-subs-card
        [profile]="profile"
      ></app-subs-card>
    }
  </div>
  
  <div class="side-bar__subs">
    <a 
      [routerLink]="['/subscriber']"
      class="side-bar__all-subs"
      >Все подписчики ></a>
  </div>
</div>

</div>

<footer class="side-bar__footer">
  <!-- делаем алиса me -->
  @if (me(); as me) {
    @if (me.avatarUrl) {
      <img class="side-bar__user-img" [src]="me.avatarUrl | imgUrl" alt="your-user">
    } @else {
      <img class="side-bar__user-img" src="/assets/avatar.png" alt="your-user">
    }
    <p class="side-bar__username">
      ryan.gosling
    </p>
    <a [routerLink]="['/settings']" class="side-bar__setting-link">
      <svg class="side-bar__folter-setting" icon="settings"></svg>
    </a>
  }
</footer>

<!-- </div> -->