<img class="side-bar__logo" src="/assets/logo-tik-talk-small.svg" alt="logo">

<nav>
  <ul class="side-bar__list-tool">
    @for (svg of menuItems; track menuItems[0].label) {
      <li class="side-bar__list-tool-item">
        <button class="side-bar__bar-btn">
          <svg class="item-svg" [icon]="svg.icon"></svg>
          {{ svg.label }}
        </button>
      </li>
    }
  </ul>
</nav>

<div class="side-bar__container-subs">
  <h5 class="side-bar__title-subs">Подписчики</h5>
  
  <!-- <app-subs-card></app-subs-card> -->
  
  <div class="side-bar__subs">
    <a 
      [routerLink]="['/subscriber']"
      class="side-bar__all-subs"
      >Все подписчики ></a>
  </div>
</div>

