<img class="side-bar__logo" src="/assets/logo-tik-talk-small.svg" alt="logo">

<nav>
  <ul class="side-bar__list-tool">
    <li class="side-bar__list-tool-item">
      <button class="side-bar__bar-btn">
        <img class="side-bar__item-img" src="/assets/home.svg" alt="иконка моей страницы">
        Моя страница
      </button>
    </li>
    <li class="side-bar__list-tool-item">
      <button class="side-bar__bar-btn">
        <svg icon="home"></svg>
        <img class="side-bar__item-img" src="/assets/chat.svg" alt="иконка чатов">
        Чаты
      </button>
    </li>
    <li class="side-bar__list-tool-item">
      <button class="side-bar__bar-btn">
        <img class="side-bar__item-img" src="/assets/search.svg" alt="иконка поиска">
        Поиск
      </button>
    </li>
  </ul>
</nav>

<div class="">

</div>
