<article class="profile-card">
  <div class="profile-card__base-info-container">
    <img
      class="profile-card__avatar"
      src="./assets/avatar.png"
      alt="user avatar"
    />
    <div class="profile-card__initials">
      <h6 class="profile-card__name">Rayn Gosling</h6>
      <span class="profile-card__tag">ryan.gosling</span>
    </div>
  </div>
  
  <div class="profile-card__description">
    <p>
      Список навыков, который мы обсудили выше, — основа резюме,
      но не единственная его часть. Также можно рассказать о себе в классическом
      смысле — этот раздел можно добавить в сопроводительное письмо.
    </p>
  </div>

  <div class="profile-card__skill-tags-container">
    <div class="profile-card__skill-tags">
      <div class="skill-tag">Angular</div>
      <div class="skill-tag">HTML</div>
      <div class="skill-tag">CSS</div>
      <div class="skill-tag">SCSS</div>
      <div class="skill-tag">JS</div>
    </div>
  </div>

  <div class="profile-card__actions-btns">
    <button class="btn">Подписаться</button>
  </div>
</article>
