<!-- условный рендаринг -->
@if (profile) {
  <article class="profile-card">
    <div class="profile-card__base-info-container">
      <img
        class="profile-card__avatar"
        [src]="profile.avatarUrl | imgUrl"
        [alt]="profile.firstName"
      />
      <div class="profile-card__initials">
        <h6 class="profile-card__name">{{ profile.firstName }} {{ profile.lastName }}</h6>
        <span class="profile-card__tag">{{ profile.username }}</span>
      </div>
    </div>
    
    <div class="profile-card__description">
      <p>{{ profile.description }}</p>
    </div>

    <div class="profile-card__skill-tags-container">
      <div class="profile-card__skill-tags">
        @for (tag of profile.stack; track profile.id) {
          <div class="skill-tag">{{ tag }}</div>
        }
      </div>
    </div>

    <div class="profile-card__actions-btns">
      <button class="btn">Подписаться</button>
    </div>
  </article>
}
