// assets
@use './vendor/jet-brains-mono/index.css';

// components
// @use './app/components/porfile-card/porfile-card.component.scss';

@use './vendor/normalize.css';
@use './app/scss/variables' as *;

body {
  block-size: 100vh;
  inline-size: 100vw;
  background-color: $dark-color;
  color: $light-color;
  font-family: $default-font;
  background-image: url('../public/assets/bg-global.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

h1 {
  font-size: 40px;
  line-height: 56px;
  font-weight: 800;
}

.skill-tag {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid $light-color;
  display: inline;
  font-size: 12px;
  font-weight: 700;
  max-height: fit-content;
  white-space: nowrap;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: $primary-color;
  color: $dark-color;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}
