// assets
@use './vendor/jet-brains-mono/index.css';

// components
@use './app/components/porfile-card/porfile-card.component.scss';

@use './vendor/normalize.css';
@use './app/scss/variables' as *;

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: $default-font;
}
